body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }

  @import '../node_modules/bootstrap/scss/bootstrap';
  @import '../node_modules/bootstrap-icons/font/bootstrap-icons';

  .fs-small {
	  font-size: small!important;
  }

  .fs-xsmall {
	  font-size: x-small!important;
  }

  .fs-xxsmall {
	  font-size: xx-small!important;
  }

  .main-view-height {
	height: calc(100vh - 10em);
  }

  .margin-top-side {
	margin-top: 3em;
  }

  .menu-item {
	  color: white!important;
	  background-color: #303030!important;
  }

  .menu-item:hover {
	  background-color: #606060!important;
  }

  .app-row {
	  height: calc(100vh)!important;
	  width: calc(100vw - 1px)!important
  }

  .selected-border {
	  border-left-width: 2px;
	  border-left-style: solid;
	  border-left-color: $info;
  }

  #waitscreen {
	  display: flex;
	  position: fixed;
	  left: 0px;
	  top: 0px;
	  width: 100%;
	  height: 100%;
	  z-index: 9999;
	  background-color: rgba(0, 0, 0, 0.5);
	  justify-content: center;
	  align-items: center;
  }
